# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
.idea/
.git/
.gitbu/
.eggs/
.pytest_cache/
.venv/
.gitignore
.ruff/
.tox/
.pytype/
.mypy_cache/
*.egg-info/
build/
workspace/
checkpoints/
tmp/

**/*.pyc
**/*.pyi
