# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
.venv/
.cache/
checkpoints/
ckpt/
tmp/

# aitune main dir ignores
../../.venv/
../../.tox/
../../checkpoints/
../../tmp/
